
.toolbar-background{
	background-color: color($colors, primary);
}

.toolbar-title{
	color: #EEEFF7;
}

/**
Afectara a las etiquetas "ion-fab" con class "boton-material"
	ej:	< ion-fab class="boton-material"
*/
ion-fab.boton-material{
    bottom: 1em;
    right: 1em;

    button{
        background-color: color($colors, standOut);
        font-size: 1.5em !important;
    }
}

.actions{
    text-align: right;
    margin-top: 20px;
}
